.profile__create {
  width: 24px;
  height: 24px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../images/edit.svg");
  margin-left: 18px;
  border: 1px solid #fff;
}

.profile__create {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .profile__create {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
