.profile__image {
  max-width: 120px;
  min-height: 120px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 920px) {
  .profile__image {
    margin: 0px auto 26px;
  }
}
