.elements__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-auto-rows: 361px;
  justify-content: center;
}

@media screen and (max-width: 920px) {
  .elements__list {
    grid-template-columns: 282px 282px;
  }
}

@media screen and (max-width: 548px) {
  .elements__list {
    grid-template-columns: 282px;
  }
}
