.profile__section {
  max-width: 336px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: baseline;
}

@media screen and (max-width: 920px) {
  .profile__section {
    max-width: 282px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
